/* Font credits go to zemin */

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BoldItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Book.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-MediumItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-LightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Thin.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Black.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLight.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-ThinItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-UltraItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Bitter Fonts */



@font-face {
    font-family: 'bitterbold';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-bold-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bitterregular';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-regular-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bitteritalic';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-italic-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

.my-navbar {
  font-family:'Gotham';
  font-size: 36px;
  text-align: right;
  background: rgba(159, 159, 159, 0.49);
}

.navbar-brand-logo {
  width: 75px;
  height: 66px;
  left: 26px;
}

.navbar-brand-logo:hover {
  text-decoration: none;
}

.navbar-brand-text {
  width: 114px;
  height: 49px;
  left: 115px;
  top: 10px !important;
  color: #18347D;
  font-family: 'bitterregular';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
}

.navbar-brand-text:hover {
  color: #18347D;
  text-decoration: none;
}

.nav-item-text {
  font-family: "Gotham";
  font-size: 30px;
  line-height: 49px;
  text-align: right;
  vertical-align: middle;
  font-weight:normal;
  color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
  .nav-item-text {
    font-family: "Gotham";
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    vertical-align: middle;
    font-weight:normal;
    color: #FFFFFF;
  }
}

.nav-item-text:hover {
  color: #18347D;
  text-decoration: none;
  font-weight: normal;
}

.dropdown-toggle::after {
    display:none;
}
.dropdown:hover .dropdown {display: inline-block;}

@media only screen and (min-width: 992px) {
.dropdown:hover .dropdown-menu {display: block; transform: translate3d(9px, 48px, 0px); top: 0px; left:0px;}
}

.dropdown:hover .dropdown-menu {display: block; top: 0px; left:0px;}

.dropdown-menu {
  background: rgba(159, 159, 159, 0.49);
  border-style: transparent !important;
  font-size: 0.9rem;
  font-family: "Gotham";
}

.dropdown-item {
    font-family: "Gotham";
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.dropdown-item:hover {
  background-color: rgba(255,255,255,0.4);
  font-family: "Gotham";
  color: #18347D;
}

.welcome-text {
padding-left: 20px;
font-family: "Gotham";
font-size: 70px !important;
color: #FFC700;
}
