@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-BoldItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Book.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-MediumItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-LightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-XLightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Thin.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Black.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-XLight.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-ThinItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/Gotham-UltraItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

