/* Font credits go to zemin */

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BoldItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Book.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-MediumItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-LightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLightItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Thin.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Black.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLight.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-ThinItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-UltraItalic.woff2') format('woff2'),
        url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/* Bitter Fonts */



@font-face {
    font-family: 'bitterbold';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-bold-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'bitterregular';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-regular-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bitteritalic';
    src: url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-italic-webfont.woff2') format('woff2'),
         url('https://lovettcollege.github.io/lovettcollege/gotham_webfont/bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

.my-navbar {
  font-family:'Gotham';
  font-size: 36px;
  text-align: right;
  background: rgba(159, 159, 159, 0.49);
}

.navbar-brand-logo {
  width: 75px;
  height: 66px;
  left: 26px;
}

.navbar-brand-logo:hover {
  text-decoration: none;
}

.navbar-brand-text {
  width: 100px;
  height: 49px;
  left: 115px;
  top: 10px !important;
  color: #18347D;
  font-family: 'bitterregular';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
}

.navbar-brand-text:hover {
  color: #18347D;
  text-decoration: none;
}

.nav-item-text {
  font-family: "Gotham";
  font-size: 30px;
  line-height: 49px;
  text-align: right;
  vertical-align: middle;
  font-weight:normal;
  color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
  .nav-item-text, .non-dropdown {
    font-family: "Gotham";
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    vertical-align: middle;
    font-weight:normal;
    color: #FFFFFF;
  }
}

.nav-item-text:hover {
  color: #18347D;
  text-decoration: none;
  font-weight: normal;
}

.dropdown-toggle::after {
    display:none;
}
.dropdown:hover .dropdown {display: inline-block;}

@media only screen and (min-width: 992px) {
.dropdown:hover .dropdown-menu {display: block; transform: translate3d(9px, 48px, 0px); top: 0px; left:0px;}
}

.non-dropdown {
  display: block;
}
.dropdown:hover .dropdown-menu {display: block; top: 0px; left:0px;}

.dropdown-menu {
  background: rgba(159, 159, 159, 0.49);
  border-style: transparent !important;
  font-size: 0.9rem;
  font-family: "Gotham";
}

.dropdown-item {
    font-family: "Gotham";
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.dropdown-item:hover {
  background-color: rgba(255,255,255,0.4);
  font-family: "Gotham";
  color: #18347D;
}

.welcome-text {
padding-left: 20px;
font-family: "Gotham";
font-size: 70px !important;
color: #FFC700;
font-weight:bold;
}

.calendar-text {
  font-family: "Gotham";
  font-size: 48px !important;
  color: #18347D;
  font-weight:bold;
}

#calendar-hdr:hover div.cal-txt {
  display:block;
}

.cal-txt {
  float:right;
  display:none;
  font-size:20px;
  padding-top:20px;
  text-decoration:underline;
}

.cal-break {
  border-top: 16px solid rgb(24, 52, 125);
}

.footer-text {
  color: #18347D;
  font-family: 'bitterregular';
}

.cust-blue {
  color: #18347D;
}

.cust-yellow {
  color: #FFC700;;
}

.social-icons:hover {
  color:white !important;
}

.scroll-photo-text {
  color: #FFC700;
  font-size:96px;
  font-family:"Gotham";
}

@media only screen and (max-width: 767px) {
  .footer-spacing {
    text-align: left !important;
  }
}

@media only screen and (min-width: 768px) {
  .footer-spacing {
    text-align: right !important;
  }
}

@media only screen and (min-width: 768px) {
  .padding-footer {
    padding-left:20px;
  }
}

.shrink {
  height:66px !important;
  width:75px !important;
}

.shrink2 {
  height:75px !important;
  width:100px !important;
}

@media only screen and (max-width: 767px) {
  .lovett-logo {
    height:66px !important;
    width:75px !important;
  }
  .lovett-logo-link {
    height:75px !important;
    width:100px !important;
  }
}

.scroll-slideshow {
  display:block !important;
}

.hide-slideshow {
  display:none;
}

.carousel-control-next1 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  opacity: 1.0;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  text-decoration:none !important;
}

.photo-text {
  padding-right: 30px;
  font-family: "Gotham";
  font-size: 70px !important;
  color: #FFC700;
  font-weight:bold;
  cursor:pointer;
}

.sidebar-txt {
  font-family: "Gotham" !important;
  font-size:24px !important;
  font-weight:bold;
}

@media only screen and (max-width: 767px) {
  .sidebar-txt {
    font-family: "Gotham" !important;
    font-size:12px !important;
    font-weight:bold;
  }

  div[class="collapse show sidebar-collapse-menu"] {
    display:none;
  }

  div[class="collapse show sidebar-collapse-menu"] hr.sidebar-break {
    border-top: 2px solid rgb(246, 246, 246);
  }

}

.sidebar-txt:hover {
  color: #FFC700;
}

.sidebar-color {
  color: #FFFFFF !important;
  padding-bottom: 0px !important;
}

.sidebar-break {
  border: 2px solid rgba(246, 246, 246, 0);
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  font-weight: 400 !important;
}

a.sidebar-color[aria-expanded="true"] hr.sidebar-break {
  border-top: 2px solid rgb(246, 246, 246);
}

div[class="sidebar-collapse-menu collapse show"] hr.sidebar-break {
  border-top: 2px solid rgb(246, 246, 246);
}

div[class="collapse show sidebar-collapse-menu"] hr.sidebar-break {
  border-top: 2px solid rgb(246, 246, 246);
}

.sidebar-dropdown {
  background: rgba(255, 255, 255, 0.26);
}

@media only screen and (max-width: 767px) {
  .sidebar-dropdown {
    background: rgb(255, 199, 0);
  }

  .dropdown-text {
    color: #18347D !important;
    font-size: 16px !important;
    font-family: "Gotham" !important;
    margin: 0 0 !important;
    font-weight: bold;
  }
}

.dropdown-text:hover {
  background: rgba(255, 255, 255, 0.26) !important;
}

@media only screen and (min-width: 768px) {
  .dropdown-text {
    color: #FFC700 !important;
    font-size: 16px !important;
    font-family: "Gotham" !important;
    margin: 0 0 !important;
    font-weight: bold;
  }
}

a[class="collapse-item dropdown-text py-1 active"] {
  background: rgb(255,199,0) !important;
  color: #18347D !important;
  font-style: italic;
}

a[class="collapse-item dropdown-text py-1 active"]:hover {
  background: rgb(255,199,0) !important;
  color: #18347D !important;
  font-style: italic;
}

.shrink-txt {
  font-size: 12px !important;
}

.sidebar-dark hr.final-sidebar-break {
  border-top: 2px solid rgba(246, 246, 246, 0.2) !important;
  width:90%;
}

.top-background {
  background-position:center center;
  background-size:cover;
  height: 226px !important;
}

.top-background-text {
  font-family: "Gotham" !important;
  font-size: 72px !important;
  font-weight: bold !important;
  color: #FFC700 !important;
}

@media only screen and (max-width: 767px) {
  .top-background-text {
    font-family: "Gotham" !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color: #FFC700 !important;
  }
}

.top-background-text-long {
  font-family: "Gotham" !important;
  font-size: 55px !important;
  font-weight: bold !important;
  color: #FFC700 !important;
}

@media only screen and (max-width: 767px) {
  .top-background-text-long {
    font-family: "Gotham" !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color: #FFC700 !important;
  }
}

.title-subpage {
  font-family: "Gotham" !important;
  font-size: 48px !important;
  color: #18347D;
  letter-spacing: 0.105em;
  font-weight: bold !important;
  text-align:center;
}

@media only screen and (max-width: 767px) {
  .title-subpage {
    font-family: "Gotham" !important;
    font-size: 25px !important;
    color: #18347D;
    letter-spacing: 0.105em;
    font-weight: bold !important;
    text-align:center;
  }
}

.tradition-break {
  border-top: 8px solid rgb(255,199,0);
  width: 75%;
}

.tradition-body {
  display: table !important;
  width: 75% !important;
  align:center !important;
  margin-left: 13%;
}

.tradition-header {
  font-family: "Gotham" !important;
  color:black !important;
  font-size: 30px !important;
}

.tradition-text {
  font-size: 20px !important;
  color: rgba(0, 0, 0 , 0.89);
}

.eol-text {
  font-size: 20px !important;
  color: rgba(0, 0, 0 , 0.89);
}

@media only screen and (max-width: 767px) {
  .tradition-header {
    font-size: 25px !important;
  }

  .tradition-text {
    font-size: 12px !important;
  }

  .tradition-body {
    display: table !important;
    width: 100% !important;
    align:center !important;
    margin-left: 5%;
  }
}

.eol-break {
  border-top: 8px solid rgb(255,199,0);
  width: 75%;
}

.eol-body {
  display: table !important;
  width: 75% !important;
  align:center !important;
  margin-left: 13%;
}

.eol-header {
  font-family: "Gotham" !important;
  color:black !important;
  font-size: 30px !important;
}

@media only screen and (max-width: 767px) {
  .eol-header {
    font-size: 25px !important;
  }

  .eol-text {
    font-size: 12px !important;
  }

  .eol-body {
    display: table !important;
    width: 100% !important;
    align:center !important;
    margin-left: 5%;
  }
}

.history-break {
  border-top: 8px solid rgb(255,199,0);
  width: 75%;
}

.history-body {
  display: table !important;
  width: 75% !important;
  align:center !important;
  margin-left: 13%;
}

.stag-image {
  position: relative;
  top: -15px;
}

.facilities-body {
  display: table !important;
  width: 75% !important;
  align:center !important;
  margin-left: 13%;
}

.eol-quote {
  font-family: serif;
  font-size: 27px !important;
  color: rgba(0, 0, 0 , 0.89)
}


.toaster-image {
  opacity: 0.7;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.container:hover .toaster-image {
  opacity: 1.0;
}

.container:hover .middle {
  opacity: 1;
}

.toaster-text {
  color: white;
  font-family: 'Gotham'
  font-size: 20px;
  /* padding: 16px 32px; */
  position: relative;
}

.facilities-pics-body {
  display: table !important;
  width: 75% !important;
  align:center !important;
  margin-left: 12%;
}
